<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-4">
      <h2>C# (CSHARP)</h2>
      <p>
        Lenguaje de programación orientado a objetos desarrollado y estandarizado por Microsoft como parte de su
        plataforma .NET,
        que después fue aprobado como un estándar por la ECMA (ECMA-334) e ISO (ISO/IEC 23270). C# es uno de los
        lenguajes de programación diseñados para la infraestructura de lenguaje común.
        Su sintaxis básica deriva de C/C++ y utiliza el modelo de objetos de la plataforma .NET, similar al de
        Java,
        aunque incluye mejoras derivadas de otros lenguajes.
      </p>
      <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">Ver
          mas&raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>ANGULAR</h2>
      <p>
        Framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google,
        que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las
        aplicaciones
        basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el
        desarrollo y las pruebas sean más fáciles.
      </p>
      <p><a class="btn btn-default" href="https://angular.io/" target="_blank">Ver mas&raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>SQL</h2>
      <p>
        Lenguaje específico del dominio utilizado en programación, diseñado para administrar, y recuperar
        información de
        sistemas de gestión
        de bases de datos relacionales1​. Una de sus principales características es el manejo del álgebra y el
        cálculo
        relacional para efectuar consultas
        con el fin de recuperar, de forma sencilla, información de bases de datos, así como realizar cambios en
        ellas.
      </p>
      <p><a class="btn btn-default"
          href="https://docs.microsoft.com/en-us/sql/t-sql/language-reference?view=sql-server-2017" target="_blank">Ver
          mas&raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Docker</h2>
      <p>
        La tecnología de contenedores Docker se lanzó en 2013 como un motor Docker de código abierto.
        Aprovechó los conceptos informáticos existentes en torno a los contenedores y específicamente
        en el mundo Linux, primitivas conocidas como cgroups y espacios de nombres. La tecnología de
        Docker es única porque se centra en los requisitos de los desarrolladores y operadores de sistemas
        para separar las dependencias de las aplicaciones de la infraestructura.
      </p>
      <p><a class="btn btn-default"
          href="https://www.docker.com/resources/what-container" target="_blank">Ver
          mas&raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Kubernetes</h2>
      <p>
        Agrupa los contenedores que conforman una aplicación en unidades lógicas para facilitar la
        administración y el descubrimiento. a sea que pruebe localmente o ejecute una empresa global,
        la flexibilidad de Kubernetes crece con usted para entregar sus aplicaciones de manera consistente
        y fácil, sin importar cuán compleja sea su necesidad. Kubernetes es de código abierto, lo que
        le brinda la libertad de aprovechar la infraestructura en la nube local, híbrida o pública,
        lo que le permite mover sin esfuerzo las cargas de trabajo a donde sea importante para usted.
      </p>
      <p><a class="btn btn-default"
          href="https://kubernetes.io/" target="_blank">Ver
          mas&raquo;</a></p>
    </div>
  </div>
</div>
