<script src="../../../assets/js/highlight.pack.js"></script>
<link href="../../../assets/css/tomorrow-night-blue.css" rel="stylesheet" />
<app-navbar></app-navbar>
<div class="container pt-5">
  <div class="row py-5">
    <div class="row pb-4">
      <div class="col-12 text-center">
        <h4>IMPLEMENTACION AES-256 (encriptar datos)</h4>
      </div>
    </div>
    <section class="col-12">
      <h4>Requerimientos Previos</h4>
      <p>Para implementar AES-256 son necesarios conocimientos de <strong>ASP.NET</strong> y el siguiente software
        instalado:
      </p>
      <ul>
        <li>Visual Studio 2017 IDE</li>
        <li>Gestor de paquetes Nuget</li>
        <li>ASP.NET WEB API Framework y filosofía REST/API</li>
      </ul>
      <h4>Descripcion del cifrado</h4>
      <p>
          Estrictamente hablando, tiene un tamaño de bloque fijo de 128 bits y tamaños de
          llave de 128, 192 o 256 bits. La mayoría de los cálculos del algoritmo AES se hacen en un campo finito determinado.
          AES opera en una matriz de 4×4 bytes, llamada state
      </p>
      <h5>Pseudocodigo</h5>
      <ul>
        <li>Expansión de la clave usando el esquema de claves de Rijndael.</li>
        <li>Etapa inicial:
          <ol>
            <li>
                AddRoundKey
            </li>
          </ol>
        </li>
        <li>Rondas
            <ol>
                <li>
                    SubBytes — en este paso se realiza una sustitución no lineal donde cada byte es reemplazado con otro de acuerdo a una tabla de búsqueda.
                </li>
                <li>
                    ShiftRows — en este paso se realiza una transposición donde cada fila del «state» es rotada de manera cíclica un número determinado de veces.
                </li>
                <li>
                    MixColumns — operación de mezclado que opera en las columnas del «state», combinando los cuatro bytes en cada columna usando una transformación lineal.
                </li>
                <li>
                    AddRoundKey — cada byte del «state» es combinado con la clave «round»; cada clave «round» se deriva de la clave de cifrado usando una iteración de la clave.
                </li>
              </ol>
        </li>
        <li>Etapa final
            <ol>
              <li>
                  SubBytes
              </li>
              <li>
                  ShiftRows
              </li>
              <li>
                  AddRoundKey
              </li>
            </ol>
        </li>
      </ul>
      <p><strong>DecryptAndEncrypt.cs</strong></p>

<pre>
<code class="language-csharp hljs cs">
  <span class="hljs-keyword">using</span> System;
  <span class="hljs-keyword">using</span> System.IO;
  <span class="hljs-keyword">using</span> System.Security.Cryptography;
  <span class="hljs-keyword">using</span> System.Text;

  <span class="hljs-keyword">namespace</span> <span class="hljs-title">Utilities</span>
  {{'{'}}
    <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> <span class="hljs-xmlDocTag">&lt;summary&gt;</span></span>
    <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> Clase para encriptar informacion en protocolo AES-256</span>
    <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> <span class="hljs-xmlDocTag">&lt;/summary&gt;</span></span>
    <span class="hljs-keyword">public</span> <span class="hljs-keyword">class</span> <span class="hljs-title">DecryptAndEncrypt</span>
    {{'{'}}

      <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> <span class="hljs-xmlDocTag">&lt;summary&gt;</span></span>
      <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> Llave para encriptar informacion</span>
      <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> Como buena practica debe ser diferente en cada proyecto</span>
      <span class="hljs-comment"><span class="hljs-xmlDocTag">///</span> <span class="hljs-xmlDocTag">&lt;/summary&gt;</span></span>
      <span class="hljs-keyword">private static readonly string</span> ENCRYPTION_KEY = <span class="hljs-string">"T8tGP6UYhWfBSPxS"</span>;

      <span class="hljs-keyword">public static string</span> EncryptStringAES(<span class="hljs-keyword">string</span> clearText)
      {{'{'}}
          <span class="hljs-keyword">string</span> ciphertext = <span class="hljs-keyword">string</span>.Empty;
          try
          {{'{'}}
              <span class="hljs-keyword">var </span> keybytes = <span class="hljs-meta">Encoding</span>.UTF8.GetBytes(ENCRYPTION_KEY);
              <span class="hljs-keyword">var </span> iv = <span class="hljs-meta">Encoding</span>.UTF8.GetBytes(ENCRYPTION_KEY);
              <span class="hljs-comment">//c# encription</span>
              <span class="hljs-keyword">var </span> encryptStringToBytes = EncryptStringToBytes(clearText, keybytes, iv);
              <span class="hljs-comment">// Decrypt the bytes to a string.</span>
              <span class="hljs-keyword">var</span> encryptedToJavascript = EncryptStringToBytes(clearText, keybytes, iv);
              ciphertext = <span class="hljs-meta">Convert</span>.ToBase64String(encryptedToJavascript);
          {{'}'}}
          catch
          {{'{'}}
              ciphertext = <span class="hljs-keyword">string</span>.Empty;
          {{' }'}}
          <span class="hljs-keyword">return </span> ciphertext;
      {{'}'}}

      <span class="hljs-keyword">public static string</span> DecryptStringAES(<span class="hljs-keyword"></span>string ciphredText)
      {{'{'}}
          <span class="hljs-keyword">string</span> deciphertext = <span class="hljs-keyword"></span>string.Empty;
          <span class="hljs-keyword">try</span>
          {{'{'}}
              <span class="hljs-keyword">var</span> keybytes = <span class="hljs-meta">Encoding</span>.UTF8.GetBytes(ENCRYPTION_KEY);
              <span class="hljs-keyword">var</span> iv = <span class="hljs-meta">Encoding</span>.UTF8.GetBytes(ENCRYPTION_KEY);
              <span class="hljs-comment">//c# encription</span>
              <span class="hljs-keyword">var</span> encryptStringToBytes = EncryptStringToBytes(ciphredText, keybytes, iv);
              <span class="hljs-comment">//Decrypt the bytes to a string.</span>
              <span class="hljs-keyword">var</span> roundtrip = DecryptStringFromBytes(encryptStringToBytes, keybytes, iv);
              <span class="hljs-comment">//DECRYPT FROM CRIPTOJS</span>
              <span class="hljs-keyword">var</span> encrypted = <span class="hljs-meta">Convert</span>.FromBase64String(ciphredText);
              <span class="hljs-keyword">var</span> decriptedFromJavascript = DecryptStringFromBytes(encrypted, keybytes, iv);
              deciphertext = decriptedFromJavascript.ToString();
          {{'}'}}
          <span class="hljs-keyword">catch</span>
          {{'{'}}
              deciphertext = string.Empty;
          {{'}'}}
          <span class="hljs-keyword">return</span> deciphertext;
      {{'}'}}

      <span class="hljs-keyword">private static string</span> DecryptStringFromBytes(<span class="hljs-keyword">byte</span>[] cipherText, <span class="hljs-keyword">byte</span>[] key, <span class="hljs-keyword">byte</span>[] iv)
      {{'{'}}
          // Check arguments.
          if (cipherText == null || cipherText.Length <= 0)
          {{'{'}}
              <span class="hljs-keyword">throw new</span> <span class="hljs-meta">ArgumentNullException</span>("cipherText");
          {{'}'}}
          if (key == null || key.Length <= 0)
          {{'{'}}
              <span class="hljs-keyword">throw new</span> <span class="hljs-meta">ArgumentNullException</span>("key");
          {{'}'}}
          if (iv == null || iv.Length <= 0)
          {{'{'}}
              <span class="hljs-keyword">throw new</span> <span class="hljs-meta">ArgumentNullException</span>("key");
          {{'}'}}

          <span class="hljs-comment">//Declare the string used to hold</span>
          <span class="hljs-comment">//the decrypted text.</span>
          <span class="hljs-keyword">string</span> plaintext = <span class="hljs-keyword">null</span>;
          <span class="hljs-comment">//Create an RijndaelManaged object</span>
          <span class="hljs-comment">//with the specified key and IV.</span>
          <span class="hljs-keyword"></span>using (<span class="hljs-keyword"></span>var rijAlg = <span class="hljs-keyword"></span>new <span class="hljs-meta">RijndaelManaged</span>())
          {{'{'}}
              //Settings
              rijAlg.Mode = <span class="hljs-meta">CipherMode</span>.CBC;
              rijAlg.Padding = <span class="hljs-meta">PaddingMode</span>.PKCS7;
              rijAlg.FeedbackSize = 128;
              rijAlg.Key = key;
              rijAlg.IV = iv;
              <span class="hljs-comment">// Create a decrytor to perform the stream transform.</span>
              <span class="hljs-keyword">var</span> decryptor = rijAlg.CreateDecryptor(rijAlg.Key, rijAlg.IV);
              <span class="hljs-comment">// Create the streams used for decryption.</span>
              <span class="hljs-keyword">using</span>(<span class="hljs-keyword">var</span> msDecrypt = <span class="hljs-keyword">new</span> <span class="hljs-meta">MemoryStream</span>(cipherText))
              {{'{'}}
                  <span class="hljs-keyword">using</span>(<span class="hljs-keyword">var</span> csDecrypt = <span class="hljs-keyword">new</span> <span class="hljs-meta">CryptoStream</span>(msDecrypt, decryptor, <span class="hljs-meta">CryptoStreamMode</span>.Read))
                  {{'{'}}
                      <span class="hljs-keyword">using</span>(<span class="hljs-keyword">var</span> srDecrypt = new <span class="hljs-meta">StreamReader</span>(csDecrypt))
                      {{'{'}}
                          <span class="hljs-comment">// Read the decrypted bytes from the decrypting stream </span>
                          <span class="hljs-comment">// and place them in a string. </span>
                          plaintext = srDecrypt.ReadToEnd();
                      {{'}'}}
                  {{'}'}}
              {{'}'}}
          {{'}'}}
          return plaintext;
      {{'}'}}

      <span class="hljs-keyword">private static byte</span>[] EncryptStringToBytes(<span class="hljs-keyword">string</span> plainText, <span class="hljs-keyword">byte</span>[] key, <span class="hljs-keyword">byte</span>[] iv)
      {{'{'}}
          // Check arguments.
          <span class="hljs-keyword">if</span>if (plainText == null || plainText.Length <= 0)
          {{'{'}}
              <span class="hljs-keyword">throw new</span> ArgumentNullException("plainText");
          {{'}'}}
              <span class="hljs-keyword">if </span> (key == null || key.Length <= 0)
          {{'{'}}
              <span class="hljs-keyword">throw new</span> ArgumentNullException("key");
          {{'}'}}
          <span class="hljs-keyword">if </span> (iv == null || iv.Length <= 0)
          {{'{'}}
              <span class="hljs-keyword"> throw new</span> ArgumentNullException("iv");
          {{'}'}}
          <span class="hljs-keyword">byte</span>[] encrypted;
          <span class="hljs-comment">// Create a RijndaelManaged object </span>
          <span class="hljs-comment">// with the specified key and IV. </span>
          <span class="hljs-keyword">using</span>(<span class="hljs-keyword">var</span> rijAlg = <span class="hljs-keyword">new</span> <span class="hljs-meta">RijndaelManaged</span>())
          {{'{'}}
              rijAlg.Mode = <span class="hljs-meta">CipherMode</span>.CBC;
              rijAlg.Padding = <span class="hljs-meta">PaddingMode</span>.PKCS7;
              rijAlg.FeedbackSize = 128;
              rijAlg.Key = key;
              rijAlg.IV = iv;
              <span class="hljs-comment">// Create a decrytor to perform the stream transform.</span>
              <span class="hljs-keyword">var</span> encryptor = rijAlg.CreateEncryptor(rijAlg.Key, rijAlg.IV);
              <span class="hljs-comment">// Create the streams used for encryption.</span>
              <span class="hljs-keyword">using</span> (<span class="hljs-keyword">var</span> msEncrypt = <span class="hljs-keyword">new</span> <span class="hljs-meta">MemoryStream</span>())
              {{'{'}}
                  <span class="hljs-keyword">using</span>  (<span class="hljs-keyword">var</span> csEncrypt = <span class="hljs-keyword">new</span> <span class="hljs-meta">CryptoStream</span>(msEncrypt, encryptor, <span class="hljs-meta">CryptoStreamMode</span>.Write))
                  {{'{'}}
                      <span class="hljs-keyword">using </span> (<span class="hljs-keyword"></span>var swEncrypt = <span class="hljs-keyword">new</span> <span class="hljs-meta">StreamWriter</span>(csEncrypt))
                      {{'{'}}
                      <span class="hljs-comment">//Write all data to the stream.</span>
                          swEncrypt.Write(plainText);
                      {{'}'}}
                      encrypted = msEncrypt.ToArray();
                  {{'}'}}
              {{' }'}}
          {{'}'}}
          <span class="hljs-comment">// Return the encrypted bytes from the memory stream.</span>
          <span class="hljs-keyword">return</span> encrypted;
      {{'}'}}
    {{'}'}}
  {{'}'}}
</code></pre>

    </section>
  </div>
</div>
