<script src="../../../assets/js/highlight.pack.js"></script>
<link href="../../../assets/css/tomorrow-night-blue.css" rel="stylesheet" />
<app-navbar></app-navbar>
<div class="container-fluid pt-5">
  <div class="row py-5">
    <div class="row pb-4 px-5">
      <div class="col-12 text-center">
        <h4>IMPLEMENTACION DEVOPS TELEFONICA</h4>
      </div>
    </div>
    <section class="text-center col-12">
      <img src="./assets/images/devops/modelo_devsecops.png" />
    </section>
  </div>
</div>
